<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" data-keyboard="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Se connecter</h4>
      </div>
      <div class="modal-body">

vzelvinzevlznvlkeznvzlvknzel
      </div>

          <div class="modal-footer" style="text-align:center">
                vozeinvzoeivnze
          </div>

    </div>
  </div>
</div>


