<!-- Header -->
<div class="theme-invert">
<div class="fond">

<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

        <div class="hero">
        <!-- Site Title -->
        <h1 class="title" style="text-align:right">Novastoria</h1>
        <h2 class="subtitle" style="text-align:right">Êtes-vous bien informé ?</h2>

        <!-- Short introductory -->
        <h3 class="tagline">
          
        </h3>

        <!-- Button trigger modal -->
        <button data-toggle="modal" data-target="#myModal" style="float:right; ">
          Commencer
        </button>

        <!-- Modal -->
        <%= render "form"%>

        </div>
  
      </div>
    </div> 
  </div>
</section>



<!-- Well informed ? -->
<section>
  <div class="content-section-a">
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <!--hr class="section-heading-spacer"-->
                  <h4 class="subtitle">Vous êtes bien informé ?</h4>
                  <p class="lead">Testez <a href="http://www.blogduvoyage.fr">chaque mercredi</a> votre connaissance de l'actualité
              </div>

              <div class="col-md-7" style="text-align:center">
                    <img src="/images/quiz.JPG">
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Badly informed ? -->
<section>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="text-align:center">
          <img src="/images/rep.JPG">
        </div>

        <div class="col-md-5" style="text-align:right">
            <h2 class="subtitle">Vous avez perdu le fil ?</h2>
            <p class="lead">Mémorisez les <a href="http://www.blogduvoyage.fr">informations</a> les plus importantes</p>
        </div>

        <div class="col-md-1"></div>

      </div>
    </div>
  </div>
</section>


<!-- Comparison -->
<section>
  <div class="content-section-a">
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <!--hr class="section-heading-spacer"-->
                  <h4 class="subtitle">Que savent les Français ?</h4>
                  <p class="lead">Comparez <a href="http://www.blogduvoyage.fr">vos résultats</a> à ceux des internautes</p>
              </div>

              <div class="col-md-7" style="text-align:center">
                    <img src="/images/result.JPG">
              </div>
          </div>
      </div>
  </div>
</section>

</div>
</div>

                
