<!-- Header -->
<div class="theme-invert">
<div class="fond">

<!-- Main (Home) section -->
<section class="section" id="head">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

        <div class="hero">
        <!-- Site Title -->
        <h1 class="title" style="text-align:left">Novastoria</h1>
        <h2 class="subtitle" style="text-align:left">Fabrique expérimentale d'objets journalistiques</h2>

        <!-- Short introductory -->
        <h3 class="tagline">
          
        </h3>

        <!-- Button trigger modal -->
        <button data-toggle="modal" data-target="#myModal">
          ENTRER
        </button>

        <!-- Modal -->
        <%= render "form"%>

        <!-- hero -->
        </div> 
      <!-- text center -->   
      </div>
    <!-- row -->  
    </div> 
  <!-- container -->
  </div>

<!-- Footer Menu -->
  <div class="container-fluid">
    <div class="home-footer">
      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 
          <div class="fa-custom">
            <a href="http://www.blogduvoyage.fr"><i class="fa fa-flask fa-3x"></i> 
              <strong><p>NOS IDEES</p></strong>
            </a>
          </div>

          <div class="fa-custom">
            <a href="http://www.blogduvoyage.fr"><i class="fa fa-question fa-3x"></i><i class="fa fa-question fa-2x"></i> 
              <strong><p>QUIZ</p></strong>
            </a>
          </div>

          <div class="fa-custom">
            <a href="http://www.blogduvoyage.fr"><i class="fa fa-book fa-3x"></i> 
              <strong><p>LONGS FORMATS</p></strong>
            </a>
          </div>

          <div class="fa-custom">
            <a href="http://www.blogduvoyage.fr"><i class="fa fa-laptop fa-3x"></i> 
              <strong><p>PROJET FRENCH TECH</p></strong>
            </a>   
          </div>
        <!-- text-center -->
        </div>
      <!-- row -->
      </div>
    <!-- home-footer -->
    </div>
  <!-- container -->
  </div>
</section>


<!-- fond -->
</div>
<!-- theme invert -->
</div>