<section class="header-11-sub bg-green">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h3>Welcome to Quizzy</h3>
                <p>
                    Testez vos connaissances sur l'actualité. Défiez un ami. Jouez Maintenant!
                </p>
                <div class="additional-links">
                    En vous inscrivant, vous acceptez les <a href="#">Conditions d'utilisation</a>
                </div>
            </div>
            <div class="span4 offset2">
                <%= link_to user_omniauth_authorize_path(:facebook), class: "fb-button fb-blue btn icon-btn btn-block btn-large large padded-btn-block row-space-1 btn-facebook" do %>
                 <i class="fa fa-facebook"></i> Connexion avec Facebook
                <% end %>
               <%= render "form"%>

            </div>
        </div>
    </div>
</section>






