<%= form_for [@challenge, @challenge_step] do |f| %>

    <% @answers_array = [] %>
    <% @answers_array << @challenge_step.question.answers_set.good_answer %>
    <% @answers_array << @challenge_step.question.answers_set.answer1 %>
    <% @answers_array << @challenge_step.question.answers_set.answer2 %>
    <% @answers_array << @challenge_step.question.answers_set.answer3 %>

    <% @answers_array.shuffle.each do |answer| %>
    	<div>
            <%= f.radio_button :chosen_answer, answer, class: "radio-button" %> 
            <%= answer %>
        </div>

      <br/>

    <% end %>

    <%= f.submit "Question suivante", class: "btn btn-block btn-primary" %>
<% end %> 