<link rel="stylesheet" href="flat-ui/css/flat-ui.css">

<% @skip_header = true %>

<!-- ########################## Quiz ########################## -->

<section class="content-21">
    <div class="container">
        <div class="demo-headline">
            <h6><%= @challenge_step.question.query %></h6>
        </div>

        <div class="row">
            <div class="span4">
            </div>

            <div class="span4">
                
                <%= render "form" %>
                
            </div>

            <div class="span4">
            </div>
        </div>
    </div>
</section>
                
                

                