<% @skip_header = true %>

<!-- ########################## Quiz ########################## -->

<section>
  <div>
    <br>
    <div class="row">
      
      <div class="col-sm-4">
      </div>

      <div class="col-sm-4">
          <%= render "form" %>
      </div>

      <div class="col-sm-4">
      </div>

    </div>
  </div>
</section>
                
                

                