<ul>
  <% @challenges.each do |c|%>
  <li>
    <% if c.champion %> 
    <%= c.champion.first_name%> a tenté le <%= link_to "challenge #{c.id}", challenge_path(c) %> et a eu 
        <% if c.score %> 
        <%= c.score %> bonnes réponses
        <% else %>
        0 bonnes réponses
        <% end %>
    <% else %> 
      Impossible de trouver le Champion de ce challenge ! Nil ? 
    <% end %> 
    </li>
  <% end %>
</ul>


<p><%= link_to 'Commencer un nouveau challenge', new_challenge_path, class: "btn btn-default btn-lg"%></p>