
<link rel="stylesheet" href="/samples/sample-06/css/style.css">

<header class="header-3">
    <div class="container">
        <div class="navbar span12">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar"></button>
                <a class="brand" href="/"><!-- <img src="" width="50" height="50" alt=""> -->Novastoria</a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li class="active"></li>
                        <li><a href="/about">A propos</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>

                    <form class="navbar-form pull-left">
                        <% if user_signed_in? %>
                            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                                <span class="filter-option pull-left"><%= current_user.first_name %></span>&nbsp;
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <li style="text-align:center">
                                    <%= link_to "Mes informations", profile_path %>
                                </li>
                                
                                <li style="text-align:center">
                                    <%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete) %>
                                </li> 
                            </ul>

                        <% else %>
                            <div class="btns">
                              <%= link_to('Se connecter', new_user_session_path, :method => :get, class: "btn btn-primary") %> 
                            </div>
                        <% end %>

                    </form>
             
                </div>
            </div>
        </div>
    </div>
</header>

